* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav-main {
  background: #f00c0c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f00c0c,
    #f00c0c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f00c0c,
    #f00c0c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 3px solid #f00c0c;

  font-weight: bold;
}
#navbarResponsive li {
  padding-right: 20px;
}

.nav-link {
  color: #fff !important;
}

.logo-text {
  color: #fff;
  padding: 0;
  margin: 0;
  font-size: 27px;
}
.intro-text {
  color: black;
  font-size: 25px;
}

.select {
  border: 4px solid black;
  height: 50px;
  max-width: 470px;
  min-width: 300px;
  box-shadow: none;
}
.select:focus {
  box-shadow: none;
}

#selectBtn {
  background: #ed213a;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 800;
  color: white;
  border: 2px solid #fff;
  margin-left: 10px;
}

#selectBtn:hover {
  color: black;
  background-color: white !important;
  border: 3px solid#ed213a;
}
#select,
.parent-class .form-group input[type="text"]:focus,
.parent-class .form-group select:focus,
.parent-class .form-group [type="text"].form-control:focus {
  box-shadow: none;
}

thead {
  background-color: #ed213a;
  color: white !important;
  font-size: 18px;
}
tbody {
  background-color: rgba(56, 55, 55, 0.829);
  color: white !important;
}

.priceInfo {
  font-size: 27px;
  display: none;
  color: black;
}

#product {
  text-transform: capitalize;
}
